@use "../bases/variables";
main{
.destacados{ 
            @extend .destacados;
        }
.accordion-header{
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}
.accordion-body{
    background-color: rgb(255, 231, 201);
    font-family: 'Times New Roman', Times, serif
}
.acocordion-img{
    width: 15%;
    height: auto;
    margin: 10px 0 10px 30%;
}
.direction{
    @extend .direction;
}
@include variables.mobile{
.acocordion-img{
    width: 35%;
    height: auto;
    margin: 10px 0 10px 30%;
}
.maps{
        width: 100%;
        height: auto;
    }
}
}
