@use "../bases/variables";
.page{
    position: static;
}
main{
        .destacados{ 
            @extend .destacados;
        }
        .carousel {
            margin: 0 30% 30px 25%;
            height: 90%;
            width: 50%;
            border: 20px;
            padding: 5px;
        }
        .carousel-item img {
            width: 60%;
            height: 70%;
            max-height: fit-content;
            object-fit: cover;
            border-radius: 12px;
        }
        .carousel-caption {
            background-color: rgba(28, 1, 1, 0.6);
            padding: 15px;
            border-radius: 20px;
            color: rgba(195, 169, 169, 0.945);
        }
        .footer-product{
            margin: 0;
            padding: 1rem;
            text-align: center;
        }
        .button-primary{
            @include variables.button(10px 5px 10px 5px, rgb(144, 165, 107), oblique)
        }
        @include variables.mobile{
            main{
                max-width: max-content;
            }
        .carousel{
            max-width: max-content;
            margin: 0 20% 20px 0;
            height: 100%;
            width: 100%;
            border: 20px;
            padding: 0;
            }
        .carousel-caption{
            background-color: rgb(47, 3, 3);
            font-size: 12px;
            font-weight: lighter;
            padding: 1rem;
            text-align: center;
            max-width: 400px;
            position: static;
            }
        .carousel-inner img {
            width: 100%;
            height: auto;
            object-fit: cover;
            }
        .destacados{ 
            font-size: 20px;
            }
        .accordion{
            margin-top: 10%;
            }
        .acocordion-img{
            width: 15%;
            height: auto;
            margin: 10px 0 10px 30%;
            }
        }
    }
