*{
    margin: 0;
    padding:0 ;
}


body{
    background-image: url(../assets/sobre-solume/foto\ interior.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;



}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7d7c1;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
}

#logo {
    width: 100px;
    height: auto;
}

.titulo{
    color: rgb(89, 95, 43);
    text-decoration: underline;
    font-size: 5rem;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 5px;
}   

.subtitulo{
    font-style: italic;
    font-size: 1rem;
    color: rgb(138, 105, 105);
}    

.nav-list li a {
    color: rgb(58, 66, 35);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
    margin-right: 5rem;
}    

.li{
    list-style-type: none;
}

.nav-list li a:hover{
    background-color: rgba(196, 147, 64, 0.497);
    transform: scale(1.2);
    border-radius: 10px;
}

#logo:hover{
    scale: 1.5;
    background-color: rgba(196, 147, 64, 0.497);
    padding: 20px;
    border-radius: 10px;
    transform: scale(0.8);
}




main{
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 140px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 0;
}

.parrafo-1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(87, 30, 30);
    font-size: 40px;
    padding: 120px;
    margin-top: 10%;
}

.metodo-filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(11, 48, 48);
    margin: 5%
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

.contenedor article{
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px;
    border-style: dotted;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

.filtros{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.metodos-filtrados{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(65, 77, 2);
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 15px;
}

.metodo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 35px;
    color: rgb(49, 18, 18);
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
}


.detalle{
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    margin-bottom: 30px;
}

.carta{
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.qr{
    width:auto ;
    height: 30vh;
    border-color: black;
    justify-content: right;
    display: flex;
}

.Ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    
}

.maps{
    width: 60%;
    height: auto;
    margin-top: 5%;
    border-radius: 10px;
}

.nota{
    margin-left: 10px;
    color: rgb(42, 42, 135);
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
} 

.pie{
    padding: 20px;
    margin-top: 0;
    background-color: rgb(106, 76, 30);
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}    

.redes{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    }

.icon{
    text-decoration: none;
    width: 35px;
    height: 35px;
    object-fit: contain;
    background-color: transparent;
}


@media screen and (max-width: 426px) {
 
    .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    position: static;
}

    #logo{
        width: 50px;
    }

    .titulo{
        font-size: 2rem;
    }

    .subtitulo{
        margin: 7%;
    }

    .h1{
        font-size: 50px;
    }

    .a:hover{
    background-color: rgba(196, 147, 64, 0.497);
    scale: 1.5;
    border-radius: 10px;
    padding: 10px;
    transform: scale(0.8)
}


    main{
        max-width: max-content;
        margin: 0;
        border-radius: inherit;
    }

    .contenedor {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .metodo-filtro {
        font-size: 30px;
        text-align: center;
    }

    .metodo, .detalle {
        font-size: 18px;
    }

    .filtros {
        width: 90%;
        height: auto;
        margin-left: 0;
    }

    .parrafo-1 {
        font-size: 20px;
        padding: 20px;
        margin-top: 120px;
    }

    .maps {
        width: 100%;
        height: auto;
    }

    .qr {
        width: 60%;
    }

    .carta {
        display: none;
    }
}

/* 
button{
    margin: 10px 0 15px 20px;
    padding: 10px 5px 10px 5px;
    background-color: rgb(144, 165, 107);
    font-style: oblique;
}    
 */

.principal{
    position: static;
}

.carousel-item img {
    width: auto;
    height: 150%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 12px;
}

.carousel-caption {
    background-color: rgba(163, 107, 54, 0.6);
    padding: 15px;
    border-radius: 20px;
    color: grey;
}

.carousel {
    height: 75%;
    width: auto;
    border: 20px;

    padding: 15px;
}

@media screen and (max-width: 475px) {
    .carousel-caption h5 {
    font-size: 1rem;
}

    .carousel-caption p {
    font-size: 0.8rem;
}

    .carousel-item img {
    max-height: 250px;
}

    .carousel-caption {
    padding: 10px;
}
}






.titulo-p{
    font-size:100px;
    color: rgb(90, 90, 161)
}

.p-principal{
    color: darkolivegreen;
    text-align: center;
    font-size: 30px;
}

.ristretto{
    border-radius: 20%;
    width:30vw;
    height: auto;
}

.producto{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(109, 83, 27);
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.explicacion{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: italic;
    font-size: 15px;
    text-align: center;
}

.espresso{
    border-radius: 20%;
    height: 50vh;
    width: auto;
}

.latte{
    border-radius: 20%;
    width: 75vh;
    height: 50vh;
}

.ice{
    border-radius: 20%;
    width: 20vw;
    height: auto;
}


.reseña{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: italic;
    font-size: 15px;
    text-align: center;
}

.nombre{
    color: brown;
}

.foto-mujer{
    border-radius: 20%;
    width:30vw;
    height: auto;
}

.foto-mujer2{
    border-radius: 20%;
    height: 50vh;
    width: auto;
}

.foto-hombre{
    border-radius: 20%;
    width: 20vw;
    height: 45vh;
}

.puesto{ 
    font-size: large;
    color: black;
    justify-content: left;
    text-align:center;
}

.foto-camarero{
    border-radius: 20%;
    width:20vw;
    height: auto;
}

.foto-barista{
    border-radius: 20%;
    width:30vw;
    height: auto;
}

.foto-recepcionista{
        border-radius: 20%;
    width:30vw;
    height: auto;
}

.foto-encargado{
        border-radius: 20%;
    width:30vw;
    height: auto;
}

.detalles{
    font-size: large;
    color: black;
    justify-content: center;
    text-align:center;
}

.inicio{
    position: sticky;
    top:0px;
}